<div class="mb-2">
  <strong style="font-family: 'Cinzel Decorative', serif;"><%= message.sender.email.split('@').first.titleize %>:</strong>
  <span><%= message.body %></span>
  <small class="text-muted ms-2" style="font-family: 'Cinzel Decorative', serif;"><%= message.created_at.strftime("%H:%M") %></small>
</div>
