<!--<h2 class="text-center text-2xl font-bold mt-4">
  Chat with <%#= @recipient.name %>
</h2>
<p class="text-center text-gray-600 mb-6">Private Chat</p>

<div id="chat-messages" class="mb-4 max-h-[400px] overflow-y-auto">
  <%#= render partial: "messages/private_chat", locals: { current_user: current_user, recipient: @recipient, messages: @messages } %>-->
<!--</div>

<%#= turbo_frame_tag "private-chat-window" do %>-->
  <%#= render partial: "messages/private_chat", locals: {
        current_user: current_user,
        recipient: @recipient,
        messages: @messages
      } %>
<%# end %>
<!---->
<%#= turbo_frame_tag "private-message-form" do %>
  <%#= form_with model: @message,
                url: chat_user_path(current_user.id, @recipient.id),
                method: :post,
                data: { turbo_stream: true },
                html: { id: "private-message-form", class: "flex gap-2" } do |form| %>
<!---->
    <%#= form.hidden_field :sender_id, value: current_user.id %>
    <%#= form.hidden_field :recipient_id, value: @recipient.id %>
    <%#= form.hidden_field :original_language_id, value: current_user.preferred_language_id %>
<!---->
    <%#= form.text_field :body,
                        placeholder: "Type your message...",
                        class: "flex-1 rounded border p-2" %>
<!---->
    <%#= form.submit "Send", class: "bg-blue-500 text-white px-4 py-2 rounded" %>
  <%# end %>
<%# end %>
