<%# content_for :title, "New membership" %>
<!--
<h1>New membership</h1>

<%#= render "form", membership: @membership %>-->
<!--
<br>

<div>
  <%#= link_to "Back to memberships", memberships_path %>-->
<!--</div>

<hr>-->

<% content_for :title, "New Membership" %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= render "form", membership: @membership %>

      <div class="d-flex justify-content-center mt-4">
        <%= link_to "Back", memberships_path, class: "btn btn-outline-secondary px-4" %>
      </div>
    </div>
  </div>
</div>
