<div id="<%= dom_id translation %>">
  <p>
    <strong>Body:</strong>
    <%= translation.body %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= translation.message_id %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= translation.language_id %>
  </p>

</div>
