<% content_for :title, "Editing translation" %>

<h1>Editing translation</h1>

<%= render "form", translation: @translation %>

<br>

<div>
  <%= link_to "Show this translation", @translation %> |
  <%= link_to "Back to translations", translations_path %>
</div>
