<p style="color: green"><%= notice %></p>

<% content_for :title, "Translations" %>

<h1>Translations</h1>

<div id="translations">
  <% @translations.each do |translation| %>
    <%= render translation %>
    <p>
      <%= link_to "Show this translation", translation %>
    </p>
  <% end %>
</div>

<%= link_to "New translation", new_translation_path %>
