<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= group.image %>
  </p>

  <p>
    <strong>Messages count:</strong>
    <%= group.messages_count %>
  </p>

</div>
