<% content_for :title, "New group" %>

<h2 class="mt-5 mb-4 text-center fw-bold" style="font-family: 'Cinzel Decorative', serif;">New Group</h2>

<%= render "form", group: @group %>

<!--<div>-->
  <%#= link_to "Back to groups", groups_path %>
<!--</div>-->
