<!--<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Warble</a>-->
<%#= link_to "Warble", root_path, class: "navbar-brand" %>
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>-->

<nav class="navbar navbar-light bg-light">
  <div class="container">
    <div class="row w-100">
      <div class="col-lg-10 offset-lg-1 d-flex justify-content-between align-items-center">
        <!-- Brand -->
        <a class="navbar-brand d-flex align-items-center" href="/">
          <span class="fs-4 fw-bold" style="font-family: 'Cinzel Decorative', serif;">WARBLE</span>
        </a>

        <!-- Middle section with language selector -->
        <div class="d-flex flex-grow-1 mx-4">
          <%= form_with url: user_registration_path, method: :patch, local: true, id: "navbar_language_form", class: "w-100" do |f| %>
            <%= f.label :preferred_language_id, "Select language", class: "visually-hidden" %>
            <%= f.select :preferred_language_id,
            Language.all.map { |lang| [lang.name, lang.id] },
            { selected: current_user&.preferred_language_id },
            { class: "form-select w-100", id: "navbar_preferred_language", onchange: "this.form.submit()" } %>
          <% end %>

        </div>

        <!-- Profile link (icon only on mobile, icon+text on larger screens) -->
        <a class="d-flex align-items-center text-decoration-none text-secondary" href="/users/edit">
          <i class="fa-regular fa-user me-1"></i>
          <span class="d-none d-md-inline">Profile</span>
        </a>
      </div>
    </div>
  </div>
</nav>
